#header-section {

}

#slider-section {
  height: 80vh !important;

  @include respond(common-phone) {
    height: 50vh !important;
  }
}

.feature-section-top {
  padding: 10rem 0;
}

.studio-section {
  margin-bottom: 20rem !important;
}

.story-section {
  padding: 5rem 0 !important;
  position: relative;
  margin-bottom: 10rem!important;
}

.feature-section-bottom {
  padding: 10rem 0;
}