.header {
  box-shadow: 0 3rem 6rem rgba($color-black, .1);

  &__top {
    padding: .5rem;
    background: linear-gradient(
                    to right bottom,
                    rgba($header-top-color-light, 0.8),
                    rgba($header-top-color-dark, 0.8));
  }

  &__mid {
    padding: .7rem;
    background: linear-gradient(-135deg,$header-mid-purple-color 0,$header-mid-blue-color 100%);
  }
}
