.main__nav {
  min-height: 10vh !important;

  &--logo {
    border-right: 1px solid #d4d4d4 !important;
    padding: 0 3rem;
  }

  &--search-box {
    padding: 0 3rem;
  }

  &--menu {
    padding-top: 3rem;
    border-left: 1px solid #d4d4d4 !important;
  }
}