.studio__left {

  &--bg {
    opacity: .4 !important;
  }
}

.studio__right {
  max-height: 72rem;
  padding: 4rem 0;

  &--text {
    color: $color-gray-dark-dip;
    line-height: 1.5;
    letter-spacing: .5px;
  }
}