//BEFORE PLUS BUTTON HOVER/CLICK STYLE --TOP
.studio__left-top {
  position: relative;
  transition: transform .3s;
  max-height: 72rem;

  &:hover,
  &:active {
    cursor: pointer;
    background-position: 100%;
    background-color: rgba($color-primary, .5);
  }

  &--bg {
    opacity: .4 !important;
  }

  &--btn-plus {
    background-color: rgba($color-black, .1);
    width: 10.6rem;
    height: 10rem;
    position: absolute;
    right: 1.5%;
    bottom: 0;

    transition: transform .3s;

    &:hover,
    &:active {
      cursor: pointer;
      background-position: 100%;
      background-color: rgba($plus-button-bg-hover, .5);
    }

    @include respond(big-desktop) {
      right: 1.4%;
    }

    @include respond(desktop-19) {
      right: 1.8%;
    }

    @include respond(tab-land) {
      right: 2%;
    }

    @include respond(notebook-13) {
      right: 1.5%;
    }

    @include respond(tab-port) {
      right: 1.7%;
    }

    @include respond(common-phone) {
      right: 1.9%;
    }

    @include respond(phone) {
      right: 2.5%;
    }

    i {
      color: $color-white;
      @include center-vertical-and-horizontal;
    }
  }
}


.studio__right-top {
  max-height: 72rem;
  padding: 4rem 0;

  &--text {
    color: $color-gray-dark-dip;
    line-height: 1.5;
    letter-spacing: .5px;
  }
}

//AFTER PLUS BUTTON HOVER/CLICK STYLE --TOP
.studio__left-top--after-hover {
  background-color: $plus-button-bg-hover;
  max-height: 72rem;
  padding: 2rem;

  color: $color-white;

  animation: movieInbottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}

.studio__right-top--after-hover {
  background-color: $color-black!important;
  max-height: 72rem;
  width: 100%;
  position: relative;

  h1 {
    padding: 5rem;
    @include center-vertical-and-horizontal;
    font-size: $font-size-big;
    font-weight: 600;
    letter-spacing: 1.5rem;
    text-transform: uppercase;
    color: $color-gray-dark;
  }
}


//BEFORE PLUS BUTTON HOVER/CLICK STYLE --MIDDLE
.studio__left-middle {
  max-height: 72rem;
  padding: 4rem 0;

  &--text {
    color: $color-gray-dark-dip;
    line-height: 1.5;
    letter-spacing: .5px;

    animation: movieInbottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
}

.studio__right-middle {
  position: relative;
  transition: transform .3s;

  &:hover,
  &:active {
    cursor: pointer;
    background-position: 100%;
    background-color: rgba($color-primary, .5);
  }

  &--bg {
    opacity: .4 !important;
  }

  &--btn-plus {
    background-color: rgba($color-black, .1);
    width: 10.6rem;
    height: 10rem;
    position: absolute;
    left: 2.5%;
    bottom: 0;

    transition: transform .3s;

    &:hover,
    &:active {
      cursor: pointer;
      background-position: 100%;
      background-color: rgba($plus-button-bg-hover, .5);
    }

    i {
      color: $color-white;
      @include center-vertical-and-horizontal;
    }
  }
}

//AFTER PLUS BUTTON HOVER/CLICK STYLE --MIDDLE
.studio__left-middle--after-hover {
  background-color: $color-black!important;
  max-height: 72rem;
  width: 100%;
  position: relative;

  h1 {
    padding: 5rem;
    @include center-vertical-and-horizontal;
    font-size: $font-size-big;
    font-weight: 600;
    letter-spacing: 1.5rem;
    text-transform: uppercase;
    color: $color-gray-dark;
  }
}

.studio__right-middle--after-hover {
  background-color: $plus-button-bg-hover;
  max-height: 72rem;
  padding: 2rem;

  color: $color-white;

  animation: movieInbottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}


//BEFORE PLUS BUTTON HOVER/CLICK STYLE --BOTTOM
.studio__left-bottom {
  position: relative;
  transition: transform .3s;
  max-height: 72rem;

  &:hover,
  &:active {
    cursor: pointer;
    background-position: 100%;
    background-color: rgba($color-primary, .5);
  }

  &--bg {
    opacity: .4 !important;
  }

  &--btn-plus {
    background-color: rgba($color-black, .1);
    width: 10.6rem;
    height: 10rem;
    position: absolute;
    right: 2.5%;
    bottom: 0;

    transition: transform .3s;

    &:hover,
    &:active {
      cursor: pointer;
      background-position: 100%;
      background-color: rgba($plus-button-bg-hover, .5);
    }

    i {
      color: $color-white;
      @include center-vertical-and-horizontal;
    }
  }
}

.studio__right-bottom {
  max-height: 72rem;
  padding: 4rem 0;

  &--text {
    color: $color-gray-dark-dip;
    line-height: 1.5;
    letter-spacing: .5px;
  }
}

//AFTER PLUS BUTTON HOVER/CLICK STYLE --BOTTOM
.studio__left-bottom--after-hover {
  background-color: $plus-button-bg-hover;
  max-height: 72rem;
  padding: 2rem;

  color: $color-white;

  animation: movieInbottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}

.studio__right-bottom--after-hover {
  background-color: $color-black!important;
  max-height: 72rem;
  width: 100%;
  position: relative;

  h1 {
    padding: 5rem;
    @include center-vertical-and-horizontal;
    font-size: $font-size-big;
    font-weight: 600;
    letter-spacing: 1.5rem;
    text-transform: uppercase;
    color: $color-gray-dark;
  }
}
